@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900");

body.accredible-learndash-admin {
    background: white;
}

.accredible-wrapper {
    font: 400 16px/24px Source Sans Pro;
}

.accredible-header-tile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: var(--accredible-spacing-4x);
    border-bottom: 1px solid var(--accredible-color-natural-10);
}

.accredible-header-tile h1 {
    font-size: var(--accredible-font-size-h);
    font-weight: var(--accredible-font-weight-semibold);
}

.accredible-flex-center {
    display: flex;
    align-items: center;
}

.accredible-image-icon,
.accredible-image-icon img {
    width: 24px;
    height: 24px;
    margin-right: var(--accredible-spacing-2x);
}

.accredible-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.accredible-form-wrapper,
.accredible-table-wrapper {
    width: 100%;
}

.accredible-info-tile {
    display: flex;
    margin-bottom: var(--accredible-spacing-4x);
    padding: var(--accredible-spacing-2x);
    background: var(--accredible-color-secondary-10);
    border-radius: 4px;
    color: var(--accredible-color-natural-180);
}

.accredible-info-tile::before {
    content: url('../images/info.svg');
    display: inline-block;
    position: relative;
    bottom: -3px;
    width: 20px;
    height: 20px;
    padding-right: var(--accredible-spacing-base);
}

/* FORM ELEMENTS */

body.accredible-learndash-admin label,
body.accredible-learndash-admin .label {
    color: var(--accredible-color-natural-100);
}

.accredible-form-field {
    margin-bottom: var(--accredible-spacing-4x);
}

.accredible-form-field > label {
    display: block;
    padding-bottom: var(--accredible-spacing-2x);
}

.accredible-form-field input[type="text"],
.accredible-form-field select {
    display: flex;
    align-items: center;
    flex: 1;
    padding: 0 var(--accredible-spacing-2x);
    border: 1px solid var(--accredible-color-natural-40);
    border-radius: 4px;
    width: 400px;
    height: 40px;
    color: var(--accredible-color-natural-160);
    font-size: var(--accredible-font-size-normal);
}

.accredible-form-field input[type="text"]:hover,
.wp-core-ui .accredible-form-field select:not(:disabled):hover {
    border-color: var(--accredible-color-secondary-80);
}

.wp-core-ui .accredible-form-field select:hover {
    color: var(--accredible-color-natural-160);
}

.accredible-form-field input[type="text"]:focus,
.wp-core-ui .accredible-form-field select:focus {
    border-color: var(--accredible-color-secondary-120);
    color: var(--accredible-color-natural-160);
    outline: none;
    box-shadow: none;
}

.accredible-form-field input[type="text"][readonly] {
    color: var(--accredible-color-natural-60);
    border-color: var(--accredible-color-natural-20);
}

.accredible-radio-group {
    display: flex;
}

.accredible-radio-group .radio-group-item {
    display: flex;
    align-items: center;
}

.accredible-radio-group .radio-label {
    color: var(--accredible-color-natural-180);
}

.accredible-radio-group input[type="radio"] {
    margin-top: 2px;
    width: 20px;
    min-width: 20px;
    height: 20px;
    border: 1px solid var(--accredible-color-natural-40);
    box-shadow: none;
}

.accredible-radio-group input[type="radio"]:checked::before {
    content: "";
    border-radius: 50%;
    width: 10px;
    height: 10px;
    margin: 4px;
    background-color: var(--accredible-color-secondary-100);
    line-height: 16px;
}

.accredible-form-field-error {
    color: var(--accredible-color-danger-100);
    font-size: var(--accredible-font-size-xs);
}

.accredible-form-field-hidden {
    display: none;
}

/* AUTOCOMPLETE */

.ui-autocomplete.accredible-autocomplete {
    font: 400 16px/20px Source Sans Pro;
    background: var(--accredible-color-white);
    border: 1px solid var(--accredible-color-natural-40);
    box-sizing: border-box;
    box-shadow: 0px 2px 4px rgb(0 0 0 / 5%);
    border-radius: 4px;
}

.ui-autocomplete.accredible-autocomplete li {
    padding: var(--accredible-spacing-base) var(--accredible-spacing-2x);
    color: var(--accredible-color-natural-180);
    margin: var(--accredible-spacing-base) 0;
}

/* BUTTONS */

.wp-core-ui .button.accredible-button-large {
    height: 40px;
    font-size: var(--accredible-font-size-l);
}

.wp-core-ui .button.accredible-button-small {
    height: 32px;
    font-size: var(--accredible-font-size-normal);
    line-height: 30px;
}

.wp-core-ui .button.accredible-button-primary {
    color: var(--accredible-color-white);
    background-color: var(--accredible-color-primary-100);
    border-color: var(--accredible-color-primary-100);
}

.wp-core-ui .button.accredible-button-primary:hover { 
    background-color: var(--accredible-color-primary-80);
    border-color: var(--accredible-color-primary-80);
}

.wp-core-ui .button.accredible-button-primary:focus { 
    background-color: var(--accredible-color-primary-120);
    border-color: var(--accredible-color-primary-120);
}

.wp-core-ui .button.accredible-button-primary:disabled { 
    background-color: var(--accredible-color-primary-20);
    border-color: var(--accredible-color-primary-20);
}

.wp-core-ui .button.accredible-button-outline-natural {
    color: var(--accredible-color-natural-100);
    background-color: var(--accredible-color-white);
    border: 1px solid var(--accredible-color-natural-20);
}

.wp-core-ui .button.accredible-button-outline-natural:hover {
    color: var(--accredible-color-natural-100);
    border-color: var(--accredible-color-natural-100);
}

.wp-core-ui .button.accredible-button-outline-natural:focus {
    outline: none;
}

.wp-core-ui .button.accredible-button-outline-natural:active {
    color: var(--accredible-color-natural-100);
    background-color: var(--accredible-color-natural-10);
    border-color: var(--accredible-color-natural-100);
}

.wp-core-ui .button.accredible-button-outline-natural:disabled {
    color: var(--accredible-color-natural-40);
    border-color: var(--accredible-color-natural-10);
}

/* STATUS TILE */

.accredible-content .status-tile {
    border: 1px solid var(--accredible-color-natural-20);
    border-radius: 10px;
    min-width: 350px;
    min-height: 300px;
    max-width: 500px;
}

.accredible-content .status-tile .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    border-bottom: 1px solid var(--accredible-color-natural-10);
}

.accredible-content .status-tile .logo img {
    width: 90%;
}

.accredible-content .status-tile .status {
    display: flex;
    align-items: center;
    height: 60px;
    padding: 0 var(--accredible-spacing-3x);
    border-bottom: 1px solid var(--accredible-color-natural-10);
}

.accredible-content .status-tile .status img {
    height: 20px;
    width: 20px;
}

.accredible-content .status-tile .status-info {
    display: flex;
    justify-content: space-between;
    grid-gap: var(--accredible-spacing-3x);
    gap: var(--accredible-spacing-3x);
    padding: var(--accredible-spacing-3x);
    border-bottom: 1px solid var(--accredible-color-natural-10);
}

.accredible-content .status-tile .status-info .left {
    display: flex;
    flex-direction: column;
    max-width: 250px;
    grid-gap: var(--accredible-spacing-3x);
    gap: var(--accredible-spacing-3x);
}

.accredible-content .status-tile .status-info .right {
   width: 155px;
}

.accredible-content .status-tile .status-info .status-info-item {
    display: flex;
    flex-direction: column;
}

.accredible-content .status-tile .status-info-item .label-value {
    font-weight: var(--accredible-font-weight-semibold);
    color: var(--accredible-color-natural-180);
}

.accredible-credits-tile {
    display: flex;
    align-items: flex-start;
    grid-gap: var(--accredible-spacing-2x);
    gap: var(--accredible-spacing-2x);
    padding: var(--accredible-spacing-2x);
    border: 1px solid var(--accredible-color-natural-10);
    border-radius: 4px;
}

.accredible-credits-tile .credits-icon {
    width: 40px;
    height: 40px;
}

.accredible-content .status-tile .help-links {
    height: 90px;
    padding: var(--accredible-spacing-3x);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: var(--accredible-color-secondary-5);
}

.accredible-content .status-tile .help-links .link-title {
    font-size: var(--accredible-font-size-xl);
    color: var(--accredible-color-natural-180);
    padding-bottom: var(--accredible-spacing-2x);
}

.accredible-content .status-tile .help-links ul {
    margin: 0;
    padding: 0 var(--accredible-spacing-4x);
    list-style-image: url('../images/arrow-right.svg');
}

.accredible-content .status-tile .help-links a {
    color: var(--accredible-color-primary-100);
    text-decoration: none;
}

/* TABLE */

table.accredible-table {
    width: 100%;
    padding: 0 var(--accredible-spacing-3x) var(--accredible-spacing-4x);
    border: 1px solid var(--accredible-color-natural-20);
    border-radius: 10px;
    border-spacing: 0px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgb(0 0 0 / 5%);
}

.accredible-header-row {
    height: 56px;
}

.accredible-header-row th {
    font-size: var(--accredible-font-size-xs);
    font-weight: var(--accredible-font-weight-semibold);
    color: var(--accredible-color-natural-100);
    text-align: left;
}

.accredible-row {
    height: 48px;
}

.accredible-cell-time {
    font-weight: var(--accredible-font-weight-light);
    color: var(--accredible-color-natural-100);
}

.accredible-cell-actions {
    display: flex;
    align-items: center;
    justify-content: center;
    height: inherit;
}

.accredible-row .cell-value-success {
    color: var(--accredible-color-success-100);
}

.accredible-row .cell-value-error {
   display: flex;
   align-items: center;
}

.accredible-row .cell-value-error img {
    width: 14px;
    height: 14px;
    margin-left: var(--accredible-spacing-3x);
}

.wp-core-ui .accredible-cell-actions .button {
    margin: 0 var(--accredible-spacing-base);
}

.accredible-table.has-hover .accredible-row:hover {
    background-color: var(--accredible-color-secondary-10);
}

.accredible-table.has-hover .accredible-row td:first-of-type {
    padding-left: calc(var(--accredible-spacing-base) + 1px);
}

/* PAGINATION */

.accredible-table + .accredible-pagination-tile {
    margin-top: var(--accredible-spacing-3x);
}

.accredible-pagination-tile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--accredible-color-natural-100);
}

.accredible-pagination-actions {
    display: flex;
    align-items: center;
}

.wp-core-ui .accredible-pagination-actions a.button {
    display: flex;
    align-items: center;
    height: 30px;
    margin-left: var(--accredible-spacing-2x);
}

.wp-core-ui .accredible-pagination-actions a.button img {
    height: 16px;
}

.wp-core-ui .accredible-pagination-actions a.button[disabled] img {
    opacity: 0.5;
}

/* DIRECTION */

.accredible-wrapper,
body[dir="rtl"] .accredible-wrapper {
    padding-right: var(--accredible-spacing-4x);
}

body[dir="ltr"] .accredible-wrapper {
    padding-left: var(--accredible-spacing-4x);
}

.accredible-radio-group .radio-group-item,
body[dir="rtl"] .accredible-radio-group .radio-group-item {
    margin-right: var(--accredible-spacing-2x);
}

body[dir="ltr"] .accredible-radio-group .radio-group-item {
    margin-left: var(--accredible-spacing-2x);
}

.accredible-content .status-tile .status img, 
body[dir="rtl"] .accredible-content .status-tile .status img {
    margin-right: var(--accredible-spacing-2x);
}

body[dir="ltr"] .accredible-content .status-tile .status img {
    margin-left: var(--accredible-spacing-2x);
}

body[dir="rtl"] .accredible-table.has-hover .accredible-row td:first-of-type {
    padding-right: calc(var(--accredible-spacing-base) + 1px);
}

body[dir="rtl"] .wp-core-ui .accredible-pagination-actions a.button {
    margin-right: var(--accredible-spacing-2x);
}

body[dir="rtl"] .accredible-info-tile::before {
    padding-left: var(--accredible-spacing-base);
}