@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900");

body {
    font: 400 16px/24px Source Sans Pro;
    background: white;
}

.accredible-header-tile {
    margin-bottom: var(--spacing-4x);
    border-bottom: 1px solid var(--color-natural-10);
}

/* FORM ELEMENTS */

label,
.label {
    color: var(--color-natural-100);
}

.accredible-form-field {
    margin-bottom: var(--spacing-4x);
}

.accredible-form-field > label {
    display: block;
    padding-bottom: var(--spacing-2x);
}

.accredible-form-field input[type="text"] {
    display: flex;
    align-items: center;
    flex: 1;
    padding: 0 var(--spacing-2x);
    border: 1px solid var(--color-natural-40);
    border-radius: 4px;
    width: 500px;
    height: 40px;
}

.accredible-form-field input[type="text"]:hover {
  border-color: var(--color-secondary-80);
}

.accredible-form-field input[type="text"]:focus {
    border-color: var(--color-secondary-120);
    outline: none;
    box-shadow: none;
}

.accredible-form-field input[type="text"][readonly] {
    color: var(--color-natural-60);
    border-color: var(--color-natural-20);
}

.accredible-radio-group {
    display: flex;
}

.accredible-radio-group .radio-group-item {
    display: flex;
    align-items: center;
}

.accredible-radio-group .radio-label {
    color: var(--color-natural-180);
}

.accredible-radio-group input[type="radio"] {
    margin-top: 2px;
    width: 20px;
    min-width: 20px;
    height: 20px;
    border: 1px solid var(--color-natural-40);
    box-shadow: none;
}

.accredible-radio-group input[type="radio"]:checked::before {
    content: "";
    border-radius: 50%;
    width: 10px;
    height: 10px;
    margin: 4px;
    background-color: var(--color-secondary-100);
    line-height: 16px;
}

/* BUTTONS */

.wp-core-ui .button.accredible-primary {
    height: 40px;
    font-size: var(--font-size-l);
    color: var(--color-white);
    background-color: var(--color-primary-100);
    border-color: var(--color-primary-100);
}

.wp-core-ui .button.accredible-primary:hover { 
    background-color: var(--color-primary-80);
    border-color: var(--color-primary-80);
}

.wp-core-ui .button.accredible-primary:focus { 
    background-color: var(--color-primary-120);
    border-color: var(--color-primary-120);
}

.wp-core-ui .button.accredible-primary:disabled { 
    background-color: var(--color-primary-20);
    border-color: var(--color-primary-20);
}

/* DIRECTION */

.accredible-wrapper {
    padding-right: var(--spacing-4x);
}

body[dir="ltr"] .accredible-wrapper {
    padding-left: var(--spacing-4x);
}

.accredible-radio-group .radio-group-item {
    margin-right: var(--spacing-2x);
}

body[dir="ltr"] .accredible-radio-group .radio-group-item {
    margin-left: var(--spacing-2x);
}
